.card{
    width: 100%;
    position: relative;
    
    &__img{
        width: 100%;
        object-fit: cover;
    
    }
    &__title{
        position: absolute;
        bottom: 0;
        padding: 10px 0px;
        width: 100%;
        background-color: var(--color-background);
        border-top: 1px solid var(--color-main);
        border-bottom: 1px solid var(--color-main);
        // background-color: white;
        

    }
    @media screen and (width > 768px){
        &__title{
            opacity: 0%;
        }
        
        &:hover{
            cursor: pointer;
            .card__title{
                
                opacity: 100%;
            }
            
        }
    }

}