.carousel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        // filter: invert(1);
        // filter: hue-rotate(320deg);
    }
    &__icon-left{
        position: absolute;
        top: 45%;
        left: 20px;
        padding: 0 20px;
        color: var(--color-main);
        font-size: 3rem;
        z-index: 100;
        &:hover{
            cursor: pointer;
            background-color: var(--color-background);
            border-radius: 50%;
            border: 1px solid var(--color-main);
        }
        
    }
    &__icon-right{
        position: absolute;
        color: var(--color-main);
        font-size: 3rem;
        top: 45%;
        right: 20px;
        padding: 0 20px;
        z-index: 100;
        &:hover{
            cursor: pointer;
            background-color: var(--color-background);
            border-radius: 50%;
            border: 1px solid var(--color-main);
        }
    }

    &__dots{
        z-index: 200;
        font-size: 5rem;
        position: absolute;
        color: var(--color-white);
        bottom: 5px;
        &:hover{
            cursor: pointer;
        }
        .indicator-inactive{
            color: grey;
        }
    }
}
