.header{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: sticky;
    top: -40px;
    z-index: 50;
    background-color: var(--color-background);
}